</head>

<body>
    <section class="section is-family-monospace">
        <div class="container has-text-justified">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-start">
                        <a class="navbar-item button is-dark is-outlined is-rounded is-small" href="/">Best Bout Machine</a>
                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/matches">Recent Nominations</a>
                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/matches/new">Nominate a Match</a>
                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/promotions/index">View Promotions</a>
                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/posts">Promo Board</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <strong>hello,
                            <%= user ? user.profile.name : "mark" %></strong>
                            <% if (user?.profile.avatar) { %>
                                <div class="navbar-item">
                                    <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar">
                                </div>
                                <% } %>
                                    <% if (user) { %>
                                        <!-- <form action="/matches/matchSearch" method="POST">
                                            <input name="search" type="text" placeholder="Search All Matches">
                                            <button type="search">Get Matches</button>
                                        </form> -->
                                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/profiles/<%= user.profile._id %>">View Profile</a>
                                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/profiles">View Users</a>
                                        <a class="navbar-item button is-light is-inverted is-rounded is-small" href="/auth/logout">Logout</a>
                                        <% } else { %>
                                            <div class="navbar-item">
                                                <img src="https://i.imgur.com/tNbIrh8s.jpg" height="28" width="28">
                                            </div>
                                            <a class="navbar-item button is-dark is-outlined is-rounded is-small" href="/auth/google">Sign In w/ Google</a>
                                            <% } %>
                        </div>
                    </div>
                </div>
            </nav>
            <br>
            <section class="hero is-small is-warning">
                <div class="hero-body">
                    <h1 class="title is-pulled-right">
                        <%= title %>
                    </h1>
                </div>
            </section>
            <br>