<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <h1 class="title is-4">
            All Users
        </h1>

        <% profiles.forEach(profile => { %>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <article class="tile is-child notification is-dark">
                            <a class="title" href="/profiles/<%= profile._id %>">
                                <% if (profile.avatar) { %>
                                    <img src="<%= profile.avatar %>" alt=" <%= profile.name %> ">
                                    <p class="subtitle">
                                        <%= profile.name %>
                                    </p>
                                    <% } %>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <% }) %>

                <%- include('./../partials/footer') %>