<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <h1>
            <%= title %>
        </h1>

        <% profile.boutList.forEach((boutList) => { %>
            <h5>
                <%= boutList.wrestlers %>
            </h5>
            <p>
                <%= boutList.promotion %>,
                    <%= boutList.event %>,
                        <%= boutList.date %>,
                            <%= boutList.matchType %>,
                                <%= boutList.result %>,
                                    <%= boutList.review %>
            </p>
            <form action="/matches/<%= boutList._id %>/edit" method="GET">
                <button type="submit">Edit Match</button>
            </form>
            <form action="/profiles/boutList/<%= boutList._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete from Best Bout List</button>
            </form>
            <%}) %>
                <%- include('./../partials/footer') %>