<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <h1>
            <%= user.profile.name %>'s Best Bout List
        </h1>

        <% profile.boutList.forEach((boutList) => { %>
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">
                        <%= boutList.wrestlers %>
                    </p>
                    <p class="subtitle is-6">
                        <%= boutList.promotion %>
                    </p>
                    <div class="content">
                        <%= boutList.event %>,
                            <%= boutList.date.toLocaleDateString() %>,
                                <%= boutList.matchType %>,
                                    <%= boutList.result %>
                    </div>
                    <footer class="card-footer">
                        <div class="field is-grouped">
                            <p class="control">
                                <form action="/matches/<%= boutList._id %>/edit" method="GET">
                                    <button class="card-footer-item" type="submit">Edit Match</button>
                                </form>
                            </p>
                            <p class="control">
                                <form action="/profiles/boutList/<%= boutList._id %>?_method=DELETE" method="POST">
                                    <button class="card-footer-item" type="submit">Delete from Best Bout List</button>
                                </form>
                            </p>
                        </div>
                    </footer>
                </div>
            </div>
            <br>
            <%}) %>
                <%- include('./../partials/footer') %>