<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <div class="field">
            <p>Please first ensure that the Match is not in the dropdown
                <div class="control">
                    <div class="select is-info is-rounded is-small">
                        <select>
<% matches.forEach(function(match) { %>
  <option><%= match.wrestlers + match.date.toLocaleDateString() %></option>
<% }) %>
</select>
                    </div>
                </div>
            </p>
        </div>
        <br>
        <p class="subtitle">All Fields are Required</p>
        <form class="field" action="/matches" method="POST">
            <label class="label">Promotion: <br><small>*If you do not see the promotion you wish to add, please create it <a href="/promotions/new">here</a>before proceeding</small></label>
            <select class="select" name="promotion">
                <% promotions.forEach(function(promotion) { %>
                  <option><%= promotion.name %></option>
                <% }) %>
              </select>
            <label class="label">Event Name</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="event">
            </div>
            <label class="label">Date</label>
            <div class="control">
                <input class="input is-info is-rounded" type="datetime-local" name="date" value="<%=boutDate%>">
            </div>
            <label class="label">Wrestlers</label>
            <div class="control">
                <input class="input is-info is-rounded" type="textarea" name="wrestlers">
            </div>
            <label class="label">Match Type</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="matchType">
            </div>
            <label class="label">Result</label>
            <div class="control">
                <input class="input is-info is-rounded" type="text" name="result">
            </div>
            <br>
            <div class="control">
                <input class="button is-link is-outlined is-rounded" type="submit" value="Nominate Match">
            </div>
        </form>
        <br>
        <br>
        <%- include('../partials/footer') %>