<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <div class="container">
            <div class="notification is-white-bis">
                <section class="section">
                    <h1 class="title">Promotion: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.promotion %>
                    </h2>
                    <h1 class="title">Event: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.event %>
                    </h2>
                    <h1 class="title">Date: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.date.toLocaleDateString() %>
                    </h2>
                    <h1 class="title">Wrestlers: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.wrestlers %>
                    </h2>
                    <h1 class="title">Match Type: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.matchType %>
                    </h2>
                    <h1 class="title">Result: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.result %>
                    </h2>
                    <h1 class="title">Nominated By: </h1>
                    <h2 class="subtitle has-background-white">
                        <%= match.userName %>
                    </h2>
                    <br>
                    <a href="/matches/<%= match._id %>/profiles">
                        <input class="button is-dark is-rounded" type="submit" value="Add To Best Bout List">
                    </a>
                </section>
            </div>
            <section class="section has-background-warning">
                <form class="field" method="POST" action="/matches/<%= match._id %>/reviews">
                    <div class="field">
                        <label class="label is-size-2">Review Match:</label>
                        <div class="control">
                            <textarea class="textarea is-info is-large" name="content"></textarea>
                        </div>
                        <label class="label is-size-2">Star Rating:</label>
                        <div class="select is-info is-rounded is-small">
                            <select name="rating">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
                        </div>
                    </div>
                    <input class="button is-dark is-rounded" type="submit" value="Add Review">
                </form>
            </section>
            <br>

            <% if (match.reviews.length) { %>
                <% let total = 0 %>
                    <% match.reviews.forEach(function(review) { %>
                        <% total += review.rating %>
                            <section class="section-is-medium">
                                <article class="message">
                                    <div class="message-header">
                                        <h1>
                                            <%= review.createdAt.toLocaleDateString() %>
                                        </h1>
                                    </div>
                                    <div class="message-body has-background-white-bis">
                                        <p class="subtitle">
                                            <%= review.content %>
                                        </p>
                                        <% if(review.rating===1) {%>
                                            <h2>
                                                <%= '⭐ '%>
                                            </h2>
                                            <% } %>
                                                <% if(review.rating===2) {%>
                                                    <h2>
                                                        <%= '⭐⭐' %>
                                                    </h2>
                                                    <% } %>
                                                        <% if(review.rating===3) {%>
                                                            <h2>
                                                                <%= '⭐⭐⭐'%>
                                                            </h2>
                                                            <% } %>
                                                                <% if(review.rating===4) {%>
                                                                    <h2>
                                                                        <%= '⭐⭐⭐⭐' %>
                                                                    </h2>
                                                                    <% } %>
                                                                        <% if(review.rating===5) {%>
                                                                            <h2>
                                                                                <%= '⭐⭐⭐⭐⭐' %>
                                                                            </h2>
                                                                            <% } %>
                                                                                <% if(review.rating===6) {%>
                                                                                    <h2>
                                                                                        <%= '⭐⭐⭐⭐⭐⭐' %>
                                                                                    </h2>
                                                                                    <% } %>
                                                                                        <% if(review.rating===7) {%>
                                                                                            <h2>
                                                                                                <%= '⭐⭐⭐⭐⭐⭐⭐' %>
                                                                                            </h2>
                                                                                            <% } %>
                                                                                                <%= review.userName %>
                                                                                                    <br>
                                                                                                    <a class="button is-warning is-rounded" href="/reviews/<%= review.id %>/edit">Edit Review</a>
                                                                                                    <br>
                                                                                                    <!-- <td>
                                            <form action="/matches/<%#= match._id %>/reviews/<%#= review._id %>?_method=DELETE" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </td> -->
                                    </div>
                                </article>
                                <% }); %>
                                    <article class="message is-medium">
                                        <div class="message-header">Average Star Rating
                                            <p><strong><%= (total / match.reviews.length).toFixed(1) %></strong></p>
                                        </div>
                                    </article>
                                    <% } else { %>
                                        <div class="message-body has-background-danger-light">No Reviews Yet</div>
                                        <% } %>
                            </section>
                            <br>
        </div>

        <%- include('../partials/footer') %>