<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <div class="container">
            <div class="notification is-info">
                <dl>
                    <dt>Promotion: </dt>
                    <dd>
                        <%= match.promotion %>
                    </dd>
                    <dt>Event: </dt>
                    <dd>
                        <%= match.event %>
                    </dd>
                    <dt>Date: </dt>
                    <dd>
                        <%= match.date.toLocaleDateString() %>
                    </dd>
                    <dt>Wrestlers: </dt>
                    <dd>
                        <%= match.wrestlers %>
                    </dd>
                    <dt>Match Type: </dt>
                    <dd>
                        <%= match.matchType %>
                    </dd>
                    <dt>Result: </dt>
                    <dd>
                        <strong><%= match.result %></strong>
                    </dd>
                    <dt>Nominated By: </dt>
                    <dd>
                        <%= match.userName %>
                    </dd>
                </dl>
                <a href="/matches/<%= match._id %>/profiles">
                    <input class="button is-link is-rounded" type="submit" value="Add To Best Bout List">
                </a>
            </div>
            <h2 class="title">Reviews</h2>
            <form class="field" method="POST" action="/matches/<%= match._id %>/reviews">
                <div class="field">
                    <label class="label">Review Match:</label>
                    <div class="control">
                        <textarea class="textarea is-info is-large" name="content"></textarea>
                    </div>
                    <label class="label">Star Rating:</label>
                    <div class="select is-info is-rounded is-small">
                        <select name="rating">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
                    </div>
                </div>
                <input class="button is-link is-rounded" type="submit" value="Add Review">
            </form>

            <% if (match.reviews.length) { %>
                <% let total = 0 %>
                    <% match.reviews.forEach(function(review) { %>
                        <% total += review.rating %>
                            <article class="message is-dark">
                                <div class="message-header">
                                    <p>
                                        <%= review.createdAt.toLocaleDateString() %>
                                    </p>
                                </div>
                                <div class="message-body">
                                    <%= review.content %>
                                        <% if(review.rating===1) {%>
                                            <h1>
                                                <%= '⭐ '%>
                                            </h1>
                                            <% } %>
                                                <% if(review.rating===2) {%>
                                                    <h1>
                                                        <%= '⭐⭐' %>
                                                    </h1>
                                                    <% } %>
                                                        <% if(review.rating===3) {%>
                                                            <h1>
                                                                <%= '⭐⭐⭐'%>
                                                            </h1>
                                                            <% } %>
                                                                <% if(review.rating===4) {%>
                                                                    <h1>
                                                                        <%= '⭐⭐⭐⭐' %>
                                                                    </h1>
                                                                    <% } %>
                                                                        <% if(review.rating===5) {%>
                                                                            <h1>
                                                                                <%= '⭐⭐⭐⭐⭐' %>
                                                                            </h1>
                                                                            <% } %>
                                                                                <% if(review.rating===6) {%>
                                                                                    <h1>
                                                                                        <%= '⭐⭐⭐⭐⭐⭐' %>
                                                                                    </h1>
                                                                                    <% } %>
                                                                                        <% if(review.rating===7) {%>
                                                                                            <h1>
                                                                                                <%= '⭐⭐⭐⭐⭐⭐⭐' %>
                                                                                            </h1>
                                                                                            <% } %>
                                                                                                <%= review.userName %>
                                                                                                    <br>
                                                                                                    <a class="button is-warning is-rounded" href="/reviews/<%= review.id %>/edit">Edit Review</a>
                                                                                                    <br>
                                                                                                    <!-- <td>
                                            <form action="/matches/<%#= match._id %>/reviews/<%#= review._id %>?_method=DELETE" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </td> -->
                                </div>
                            </article>
                            <% }); %>
                                <article class="message is-medium">
                                    <div class="message-header">Average Star Rating
                                        <p><strong><%= (total / match.reviews.length).toFixed(1) %></strong></p>
                                    </div>
                                </article>
                                <% } else { %>
                                    <div class="message-body">No Reviews Yet</div>
                                    <% } %>
                                        <br>
        </div>

        <%- include('../partials/footer') %>