<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <form class="field" action="/matches/:matchId/reviews/:reviewId?_method=PUT" method="POST">
            <label class="label">Edit Review:</label>
            <textarea class="textarea is-info is-large" name="content" value="<%= review.content %>"></textarea>
            <label class="label">Edit Star Rating:</label>
            <div class="select is-info is-rounded is-small">
                <select name="rating" value="<%= review.rating %>">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>
            </div>
            <br>
            <br>
            <button class="button is-link is-rounded" type="submit">Update Review</button>
        </form>

        <%- include('../partials/footer') %>