<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <a href="/matches/new" class="button is-link is-rounded">Nominate a Match</a>
        <br><br>
        <div class="message-header">Home Country:</div>
        <br>
        <li class="title is-4">
            <%=promotion.country%>
        </li>
        <div class="message-header">Nominated Matches:</div>
        <br>
        <%- matches.map(match => 
  `
                                                    <div class="card">
                                                        <div class="card-content">
                                                            <li class="title is-4 has-text-link">
                                                              <a href="/matches/${match._id}">${match.wrestlers} <small>${match.date.toLocaleDateString()}</small></a>
                                                            </li>
                                                            </div>
                                                            </div>
                                                            <br>`
      ).join('') %>
            <div class="message-header">Top Events:</div>
            <br>
            <%- matches.map(match => 
            `
                                                              <div class="card">
                                                                  <div class="card-content">
                                                                      <li class="title is-4 has-text-link">
                                                                        <a href="/matches/${match._id}">${match.event} <small>${match.date.toLocaleDateString()}</small></a>
                                                                      </li>
                                                                      </div>
                                                                      </div>
                                                                      <br>`
                ).join('') %>
                <% if (user.profile._id.toString() == promotion.addedBy._id) { %>
                    <a class="button is-warning is-rounded" href="/<%= promotion._id %>/edit">Edit Promotion</a>
                    <br>
                    <br>
                    <% } %>
                        <%- include('../partials/footer') %>