<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <h3 class="title">
            <%= post.title %>
        </h3>
        <p class="subtitle">
            <%= post.content %>
        </p>
        <h4>
            <%= post.postedBy.name %>
        </h4>

        <section class="section has-background-warning">
            <form class="field" method="POST" name="reply" action="/posts/<%= post._id %>">
                <div class="field">
                    <label class="label is-size-2">How do you retort?:</label>
                    <div class="control">
                        <textarea class="textarea is-info is-large" name="content"></textarea>
                    </div>
                </div>
                <input class="button is-dark is-rounded" type="submit" value="Post Reply">
            </form>
        </section>
        <br>

        <% if (post.replies.length) { %>
            <% post.replies.forEach(function(reply) { %>
                <section class="section-is-medium">
                    <article class="message">
                        <div class="message-header">

                            <%= reply.repliedBy.name %>
                        </div>
                        <div class="message-body has-background-white-bis">
                            <p class="subtitle">
                                <%= reply.content %>
                            </p>
                            <%= reply.createdAt.toLocaleDateString() %>
                                <%= reply.createdAt.toLocaleTimeString() %>
                                    <br>
                    </article>

                    <% }) %>
                        <% } else { %>
                            <div class="message-body has-background-danger-light">No Replies Yet</div>
                            <% } %>
                </section>
                <br>
                </div>

                <%- include('./../partials/footer') %>